* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background-color: #ffeded;
}
.countBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 20px 50px;
  box-sizing: border-box;
  background-color: #ffaaaa;
  border-radius: 10px;
  box-shadow: 1px 1px 15px #ff9999;
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
h1 {
  color: #ffffff;
  font-size: 20px;
}
button {
  border: 0;
  background-color: transparent;
}
.countNumber {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 10px 0;
}
.countButtonWrap > button {
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background-color: #ff8888;
  padding: 5px 10px;
}
.countButtonWrap > button:hover {
  color: #ff8888;
  background-color: white;
  transition: all ease 0.3s
}